@charset "UTF-8";

@media only screen and (max-width: 1024px) {
    
    header {
        display: flex;
        justify-content: space-around;
        text-align-last: center;
        position: absolute;
        z-index: 10;
    }

    header #logo {
        width: 10em;
        margin: 0 0 0 -20em;
    }

    header #logo img {
        width: 9em;
    }

    header #navBarDesktop {
        display: none;
    }

    header #nav {
        margin: 0 -15em;
    }

    header #menuMob {
        margin-left: 20em;
        --menu-size: 3em;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    header #hamburguer, #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        border-radius: 2em;
        width: var(--menu-size);
        height: calc(var(--menu-size) / 10);
        background-color: var(--color-white);
        position: absolute;

        transition: all 200ms linear;
    }

    header #hamburguer::after {
        transform: translateY(calc(var(--menu-size) / 2.5));
        top: -2px;
    }

    header #hamburguer::before {
        transform: translateY(calc(var(--menu-size) / -3));
    }
    
    header #navBarMobile {
        display: flex;
        flex-direction: column;
        list-style: none;
        visibility: hidden;
        position: absolute;
        background: linear-gradient( var(--color-secundary), var(--color-primary));
        width: 0;
        right: 0;
        top: 9.1em;
        height: auto;
        padding: 0 0 1.5em;
        border-radius: 0 0 15px 15px;
        border: 2px solid var(--color-white);
        border-top: none;
        border-right: none;
        z-index: 100 !important;

        filter: drop-shadow(5px 5px 30px 5px #4e4e4e80);
        transition: all .6s ease-in;
    }
    
    header #navBarMobile li.btn-nav {
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding: 20px 25% 5px;
        border-bottom: 1.5px solid var(--color-white);
        margin-left: 50px;
        opacity: 0;
        transition: .5s;
    }

    header #nav.active #hamburguer {
        background-color: transparent;
    }

    header #nav.active #hamburguer::after {
        transform: rotate(135deg);
    } 
    
    header #nav.active #hamburguer::before {
        transform: rotate(-135deg);
        top: -2px;
    }

    header #nav.active #navBarMobile {
        width: 30%;
        visibility: visible;
    }

    header #nav.active #navBarMobile li.btn-nav {
        margin-left: 0;
        opacity: 1;
    }

    header #nav.active #navBarMobile .btnlogin {
        font-size: 1.8rem;
        margin: 15px 20% 0;
        opacity: 0;
        transition: .5s;
        opacity: 1;
    }


    /* Main */

    main .carrossel img {
        margin: 12vh 0 0;
        object-fit: cover;
        height: 30em;
    }

    main .carrossel #setaSlidesAnt, #setaSlidesProx {
        bottom: 60%;
        padding: 2em .5em;
    }

    main #sedan,#hatch {
        margin-left: -4em;
    }

    main .carros {
        margin: 0 -5em 0 5em;
        align-items: center;
    }

    main .carros img {
        width: 25em;
    }

    main form.filtrar #iModelo, select {
        font-size: 1.6rem;
    }
     
    main form.filtrar #btnFiltrar {
        padding: 0 3em;
    }

    main #sobre .posicionamentoMobDois {
        margin-top: -50em;
    }    

    main #sobre img {
        height: 65%;
    }


    /* Footer */

    footer small {
        font-size: 1rem;
    }

    
    /* CSS DO LOGIN E CADASTRO */
    
    main #login, #cadastro {
        margin: 13vh 0 5em;
        width: 100%;
    }

    main .single-input {
        position: relative;
        margin: 15px 0;
        z-index: 1;
    }

    main .imagemFundoLog, .imagemFundoCad {
        display: none;
    }
}