@charset "UTF-8";

@media only screen and (max-width: 600px) {
    html,
    body {
        overflow-x: hidden;
    }

    header {
        display: flex;
    }

    header #logo {
        margin: 0 0 0 -18em;
    }

    header #navBarDesktop {
        display: none;
    }

    header #menuMob {
        margin-left: -5em;
    }

    header #nav.active #navBarMobile {
        width: 50%;
    }

    /* Main */

    main #sedan,
    #hatch {
        width: 110vw;
        margin-left: -2.7em;
    }

    main #sedan::-webkit-scrollbar,
    #suv::-webkit-scrollbar,
    #hatch::-webkit-scrollbar,
    #esportivo::-webkit-scrollbar,
    #todosCarros::-webkit-scrollbar {
        display: none;
    }

    main .carros {
        font-size: 1.6rem;
    }

    main .carros img {
        width: 15em;
        height: 13em;
    }

    main .filtrar {
        font-size: 1.8rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0.5em;
    }

    main .filtrar p {
        font-size: 1.2rem;
    }

    main .filtrar input[type='text'],
    select {
        width: 90%;
        font-size: 1.4rem;
    }

    main .filtrar input[type='range'] {
        width: 80%;
        height: 2em;
    }

    main .filtrar input[type='range']::-webkit-slider-runnable-track {
        height: 5px;
    }

    main .filtrar input[type='range']::-webkit-slider-thumb {
        height: 14px;
        width: 14px;
    }

    main #filtragem hr {
        bottom: 50vh;
    }

    main #sobre {
        margin: 5em 0em 0em;
    }

    main #sobre .about {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    main #sobre .posicionamentoMob {
        display: flex;
        flex-direction: column-reverse;
    }

    main #sobre .posicionamentoMobDois {
        flex-direction: column;
        margin-top: -80em;
    }

    main #sobre img {
        width: 100%;
        margin: 0;
    }

    main #sobre p {
        width: 100%;
        margin: 2em 0;
        font-size: 1.6rem;
    }

    main #local {
        flex-direction: column;
        transition: all 1.5s ease;
    }

    main #local hr {
        width: 95%;
        height: 0em;
        margin-bottom: 1em;
    }

    main #local iframe {
        width: 30em;
        height: 15em;
        margin-bottom: 1em;
    }

    /* Footer */

    footer .services {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1.5em;
    }

    footer #containerUm,
    #containerDois,
    #containerTres {
        display: flex;
        justify-content: space-between;
        margin: 0 10px 0 0;
        border-top: 1.5px solid #b2b2b29f;
        text-indent: 10px;
        overflow-y: hidden;
    }

    footer #arrowUm,
    #arrowDois,
    #arrowTres {
        display: block;
        font-size: 2.5rem;
        color: var(--color-white);
    }

    footer #moreUm,
    #moreDois,
    #moreTres {
        display: none;
        text-indent: 15px;
        transition: all 1.5s ease;
    }

    footer #moreUm.informacoes,
    #moreDois.informacoes,
    #moreTres.informacoes {
        display: block;
    }

    /* CSS DA TELA DE LOGIN*/

    main #login button {
        margin: 0 -0.5em 0 0;
    }
}
