@charset "UTF-8";

/* header */

header {
    background: linear-gradient(var(--color-primary), var(--color-secundary));
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 100%;
    filter: drop-shadow(5px 3px 30px #4e4e4e80);
}

header #logo {
    width: 10em;
    margin: 0 7em 0 2em;
}

header #logo img {
    width: 13em;
}

header #navBarMobile {
    display: none;
}

header #menuMob {
    display: none;
}

header #navBarDesktop {
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em 0 0;
    margin: 0 3em 0 0;
}

header #navBarDesktop ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

header #navBarDesktop ul li {
    padding: 2em 0;
    transition: ease-out 0.2s;
}

header #navBarDesktop ul li:hover {
    scale: 1.1;
}

header #navBarDesktop a {
    transition: ease-out 0.5s;
}

header #navBarDesktop a:hover {
    border-top: 1.5px solid var(--color-white);
    border-bottom: 1.5px solid var(--color-white);
}

header .btnlogin {
    position: absolute;
    right: -50px;
    opacity: 0;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    border-radius: 3em;
    background-color: transparent;
    font-size: 2rem;
    border: 1.5px solid var(--color-white);
    cursor: pointer;
    animation: appear 1.5s forwards;
}

header .btnlogin:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
    box-shadow: 1px 1px 15px #d6d6d6c9;
}

/* Main */

main .topo {
    position: fixed;
    right: -1em;
    bottom: 1em;
    background-color: var(--color-primary);
    padding: 0.5em 0.5em 0.2em;
    border-radius: 50%;
    font-size: 1.8rem;
    z-index: 100;
    transition: 1s;
    opacity: 0;
    animation: backTop 0.5s forwards;
}

main .topo:hover {
    scale: 1.2;
    transition: 0.5s ease;
}

main #carrossel {
    position: relative;
}

main #carrossel img {
    object-fit: cover;
    width: 100%;
    height: 60em;
    border-radius: 0 0 20px 20px;
    filter: drop-shadow(5px 3px 10px #73737380);
}

main #btnSlide {
    margin-top: -0.5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.5;
}

main #btnSlide:hover {
    opacity: 0.7;
}

main #btnSlide input[type='radio'] {
    width: 20px;
    border: 3px solid;
    -webkit-appearance: none;
    filter: drop-shadow(5px 3px 30px #73737380);
    cursor: pointer;
}

main #btnSlide input[type='radio']:checked {
    border: 3px solid red;
}

main #carrossel #setaSlidesAnt,
#setaSlidesProx {
    position: absolute;
    z-index: 0;
    bottom: 45%;
    padding: 2em 1em;
    color: var(--color-gray);
    background-color: #1c1c1caa;
    cursor: pointer;
    opacity: 0.3;
}

main #carrossel:hover #setaSlidesAnt,
#carrossel:hover #setaSlidesProx {
    opacity: 0.8;
}

main #carrossel #setaSlidesAnt {
    left: 0;
    border-radius: 0 15px 15px 0;
}

main #carrossel #setaSlidesProx {
    right: 0;
    border-radius: 15px 0 0 15px;
}

main #modelos {
    margin: 1em 0;
}

main #modelos h2 {
    font-family: var(--font-main);
    margin: 1em 2em;
    text-align: start;
}

main #sedan,
#suv,
#hatch,
#esportivo,
#todosCarros {
    display: grid;
    grid-auto-flow: column;
    width: 100vw;
    font-size: 2.2rem;
    text-align: center;
    padding-right: 5em;

    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
}

main #sedan,
#hatch {
    margin-left: -2.7em;
}

main #suv,
#esportivo {
    padding-left: 1em;
}

main #sedan::-webkit-scrollbar,
#suv::-webkit-scrollbar,
#hatch::-webkit-scrollbar,
#esportivo::-webkit-scrollbar,
#todosCarros::-webkit-scrollbar {
    height: 0.5em;
    background: var(--color-white);
}

main #sedan:hover .carros:not(:hover),
#suv:hover .carros:not(:hover),
#hatch:hover .carros:not(:hover),
#esportivo:hover .carros:not(:hover) {
    transform: scale(0.8);
    filter: blur(0.7px);
    opacity: 0.7;
    transition: all 0.5s ease;
}

main .carros {
    width: 30em;
    height: 18em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 -2em 0 0;
    object-fit: contain;
    transform: scale(0.9);
    scroll-snap-align: center;
    cursor: pointer;
}

main .carros:hover {
    transform: scale(1);
    max-height: 100%;
    transition: all 0.5s ease;
}

main .carros img {
    width: 100%;
    height: 10em;
    object-fit: contain;
    filter: drop-shadow(5px 3px 30px #73737380);
}

main .carros span {
    visibility: hidden;
    font-weight: 400;
    font-size: 2.2rem;
}

main .carros:hover span {
    visibility: visible;
}

main #filtragem {
    position: relative;
}

main #imagemFundo img {
    height: 50vh;
    width: 99.5vw;
    object-fit: cover;
    border: 1px double var(--color-black);
    border-radius: 10px;
    filter: blur(0.8px);
    box-shadow: 3px 3px 30px #73737380;
}

main .filtrar {
    position: relative;
    background-color: #fff;
    top: -100px;
    left: 50%;
    width: 75vw;
    border-radius: 20px;
    border: 2px solid var(--color-black);
    z-index: 999;
    transform: translateX(-50%);
    box-shadow: 5px 3px 30px #73737380;
    font-size: 2rem;
    padding: 1.5em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

main .filtrar label {
    text-indent: 5px;
    font-size: 1.8rem;
}

main .filtrar input[type='text'],
select {
    text-indent: 10px;
    border-radius: 10px;
    font-size: 1.8rem;
    width: 95%;
    height: 1.5em;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 1px 1px 10px #000;
}

main .filtrar select {
    cursor: pointer;
}

main .filtrar input[type='range'] {
    margin-top: 1.3em;
    height: 1.5em;
    width: 85%;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    cursor: grab;
}

main .filtrar input[type='range']:active {
    cursor: grabbing;
}

main .filtrar input[type='range']::-webkit-slider-runnable-track {
    width: 3em;
    height: 6px;
    background: var(--color-secundary);
    border-radius: 3px;
    margin-top: 0.5em;
}

main .filtrar input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--color-primary);
    margin-top: -0.3em;
}

main #todosCarros {
    margin: -7em 0 0 0;
    padding: 0;
    width: 100vw;
}

main #todosCarros:hover .carros:not(:hover) {
    transform: scale(0.8);
    filter: blur(0.7px);
    opacity: 0.7;
    transition: all 0.3s ease;
}

main #sobre {
    justify-content: center;
    align-items: center;
    margin: 2.5em 0em;
}

main #sobre .about {
    margin: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

main #sobre .posicionamentoMob,
.posicionamentoMobDois {
    display: flex;
    flex-direction: row;
}

main #sobre .posicionamentoMobDois {
    margin-top: -10em;
}

main #sobre img {
    height: 25em;
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 2.5em 0;
    filter: drop-shadow(5px 3px 30px #73737380);
}

main #sobre p {
    color: var(--color-black);
    font-size: 1.8rem;
    text-align: justify;
    width: 50%;
    margin: 0 2.5em 0;
}

main .localidade {
    background: var(--color-darkGray);
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: 2s ease;
}

main .localidade h3 {
    color: var(--color-gray);
    font-size: 2.2rem;
}

main .localidade i {
    cursor: pointer;
    font-size: 3rem;
    color: var(--color-gray);
}

main .localidade i:hover {
    scale: 1.2;
}

main #local {
    background: var(--color-darkGray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s ease;
}

main #local p {
    color: var(--color-gray);
    font-size: 2rem;
    padding: 1em;
}

main #local hr {
    width: 0;
    height: 16em;
    position: relative;
    top: 0;
    margin: 0.5em;
    border: 2px solid var(--color-gray);
    border-radius: 5px;
}

main #local iframe {
    width: 40em;
    height: 15em;
    margin-right: 1em;
    border-radius: 2vw;
    border: 2px solid var(--color-gray);
    filter: drop-shadow(5px 3px 30px #0c0c0cba);
}

main #local {
    display: none;
}

main #local.ativo {
    display: flex;
    transition: all 0.5s ease;
}

/* Footer */

footer {
    border-top: 1.5px solid var(--color-gray);
    background: linear-gradient(var(--color-primary), var(--color-secundary));
    box-shadow: 5px 3px 15px 0 #73737380;
}

footer #arrowUm,
#arrowDois,
#arrowTres {
    display: none;
}

footer .services {
    font-size: 1.8rem;
    display: flex;
    padding-top: 1em;
    justify-content: space-around;
}

footer .services ul {
    list-style: none;
}

footer .services a:hover {
    text-decoration: underline;
}

footer .socialMedias {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0 2em 1em 5em;
}

footer .socialMedias li {
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
}

footer .socialMedias li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

footer .socialMedias img {
    width: 3.5em;
    stroke-width: 1.75;
    transition: all 0.8s ease;
}

footer .socialMedias li:hover img {
    transform: rotateY(360deg);
    stroke-width: 1.5px;
}

footer hr {
    margin: auto;
    width: 97%;
    border: 1px solid var(--color-white);
}

footer p.rodape {
    color: var(--color-white);
    font-size: 1.5rem;
    text-align: center;
}

footer .rodape a {
    text-decoration: underline;
}

/* CSS DO LOGIN E CADASTRO */

main #login,
#cadastro {
    width: 40%;
    margin: 1em 0 0;
    gap: 1.5em;
    display: grid;
    place-items: center;
}

main .formLog,
.formCad {
    margin: 4em 0 0;
    position: relative;
    display: grid;
    place-items: center;
}

main #msgError,
#msgSuccess {
    font-size: 1.5em;
    text-align: center;
    color: #bc0000;
    padding: 1em;
    display: none;
    position: absolute;
    top: 40px;
}

main .formulario {
    display: grid;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 2em;
    margin: 5em 0 0;
}

main .single-input {
    position: relative;
    margin: 15px 0;
    z-index: 1;
}

main #login label,
#cadastro label {
    display: none;
}

main .single-input i {
    position: absolute;
    color: var(--color-black);
    font-size: 27px;
    left: 3px;
    padding: 0.15em;
    user-select: none;
}

main .single-input input {
    text-indent: 40px;
    margin: 0;
    width: 18.5em;
    font-size: 1.7rem;
    height: 2em;
    border: none;
    border-bottom: 2px solid #b16c6c;
    background: transparent;
    outline: none;
}

main .single-input input:focus {
    background-color: transparent;
    border-bottom: 2px solid #881c1c;
}

main .single-input input:valid {
    background-color: transparent;
    border-bottom: 2px solid #000000;
}

main .single-input .visibility {
    left: 10em;
}

main #login span,
#cadastro span {
    color: #bc0000;
    display: none;
    margin: -30px 0 0;
    font-size: 1.4rem;
}

main #login #btnLogin,
#cadastro #btnCadastrar {
    width: 100%;
    height: 35px;
    color: var(--color-white);
    margin: 1.5em 0 0;
    letter-spacing: 1px;
    background-color: #740b0b;
    font-size: 16px;
    border: 2px solid var(--color-secundary);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
}

main #login #btnLogin:hover,
#cadastro #btnCadastrar:hover {
    background-color: var(--color-primary);
    box-shadow: 1px 1px 30px var(--color-gray);
}

main #login #btnRedCadastre,
#cadastro #btnRedLogin {
    width: 100%;
    height: 30px;
    color: var(--color-primary);
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    background-color: transparent;
    font-size: 16px;
    border: 2px solid var(--color-primary);
    cursor: pointer;
}

main #login #btnRedCadastre:hover,
#cadastro #btnRedLogin:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 1px 1px 30px var(--color-gray);
    transition: all 0.5s;
}

main .imagemFundoLog img,
.imagemFundoCad img {
    width: 100%;
    position: relative;
    left: 40%;
    object-fit: cover;
    filter: drop-shadow(7px 5px 30px #73737380);
    border-radius: 20px 0 0 20px;
}

main .imagemFundoLog img {
    height: 50em;
    margin-top: -40em;
}

main .imagemFundoCad img {
    height: 70em;
    margin-top: -65em;
}

@keyframes appear {
    to {
        right: 50px;
        opacity: 1;
    }
}

@keyframes backTop {
    to {
        right: 1.5em;
        opacity: 0.3;
    }
}
