@charset "UTF-8";

@media only screen and (max-width: 1024px) {
    
    header {
        display: flex;
        justify-content: space-around;
        text-align-last: center;
    }

    header #logo {
        width: 10em;
        margin: 0 0 0 -20em;
    }

    header #logo img {
        width: 9em;
    }

    header #navBarDesktop {
        display: none;
    }

    header #nav {
        margin: 0 -15em;
    }

    header #menuMob {
        margin-left: 20em;
        --menu-size: 3em;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    header #hamburguer, #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        border-radius: 2em;
        width: var(--menu-size);
        height: calc(var(--menu-size) / 10);
        background-color: var(--color-white);
        position: absolute;

        transition: all 200ms linear;
    }

    header #hamburguer::after {
        transform: translateY(calc(var(--menu-size) / 2.5));
        top: -2px;
    }

    header #hamburguer::before {
        transform: translateY(calc(var(--menu-size) / -3));
    }
    
    header #navBarMobile {
        display: flex;
        flex-direction: column;
        list-style: none;
        visibility: hidden;
        position: absolute;
        background: linear-gradient( var(--color-secundary), var(--color-primary));
        width: 0;
        right: 0;
        top: 9em;
        height: auto;
        padding: 0 0 1.5em;
        border-radius: 0 0 10px 10px;
        border: 2px solid var(--color-white);
        border-top: none;
        border-right: none;
        z-index: 1000;
        filter: drop-shadow(5px 5px 3px 5px #4e4e4e80);
        transition: all .6s ease-in;
    }
    
    header #navBarMobile li.btn-nav {
        display: flex;
        align-items: center;
        font-size: 2rem;
        padding: 20px 25% 5px;
        border-bottom: 1.5px solid var(--color-white);
        margin-left: 50px;
        opacity: 0;
        transition: .5s;
    }

    header .btnlogin {
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        margin: 25px 20% 0 30%;
        opacity: 0;
        transition: .5s;
    }

    header #navBarMobile .btn-nav:hover {
        font-size: 2.2rem;
    }

    header #nav.active #hamburguer {
        background-color: transparent;
    }

    header #nav.active #hamburguer::after {
        transform: rotate(135deg);
    } 
    
    header #nav.active #hamburguer::before {
        transform: rotate(-135deg);
        top: -2px;
    }

    header #nav.active #navBarMobile {
        z-index: 1000;
        width: 40%;
        visibility: visible;
    }

    header #nav.active #navBarMobile li.btn-nav {
        margin-left: 0;
        opacity: 1;
    }

    header #nav.active #navBarMobile .btnlogin {
        margin-left: 20%;
        opacity: 1;
    }


    /* Main */

    main .carrossel img {
        height: 30em;
    }

    main .carrossel #setaSlidesAnt, #setaSlidesProx {
        bottom: 65%;
        padding: 2em .5em;
    }

    main #suv, #esportivos {
        padding: 0em;
        margin-left: 0em;
    }

    main #sedan, #hatch {
        width: 118%;
    }

    main .carros {
        margin: 0 -2.5em 0;
    }

    main .carros img {
        width: 25em;
    }

    main form.filtrar p {
       font-size: 1.5rem;
    }

    main form.filtrar input[type=button] {
        font-size: 1.8rem;
    }

    main #sobre img {
        height: 25em;
    }


    /* Footer */

    footer small {
        font-size: 1rem;
    }

    
    /* CSS DO LOGIN E CADASTRO */
    
    main .login, .cadastro {
        width: 100%;
    }

    main .formLog, .formCad {
        width: 65%;
    }

    main .login button {
        margin: 0;
    }

    main .imagemFundoLog ,.imagemFundoCad {
        display: none;
    }
}