@charset "UTF-8";

@media only screen and (max-width: 1024px) {
    
    header {
        display: flex;
        justify-content: space-around;
        text-align-last: center;
    }

    header .logo {
        width: 10em;
        margin: 0 -10em;
    }

    header .logo img {
        width: 7em;
    }

    header #navBarDesktop {
        display: none;
    }

    header #menuMob {
        margin-left: 20em;
        --menu-size: 2.5em;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    header #hamburguer, #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        border-radius: 2em;
        width: var(--menu-size);
        height: calc(var(--menu-size) / 10);
        background-color: var(--color-white);
        position: absolute;

        transition: all 200ms linear;
    }

    header #hamburguer::after {
        transform: translateY(calc(var(--menu-size) / 2.5));
        top: -2px;
    }

    header #hamburguer::before {
        transform: translateY(calc(var(--menu-size) / -3));
    }

    header #navBarMobile {
        display: block;    
        visibility: hidden;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 7.2em;
        background: linear-gradient( var(--color-secundary), var(--color-primary));
        height: 0;
        padding: 0 0 1.5em;
        border-radius: 0 0 10px 10px;
        transition: ease .8s;
        list-style: none;
    }
    
    header #navBarMobile ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        transition: all 0ms ease;
    }
    
    header #navBarMobile .btn-nav{
        text-indent: 3em;
        font-size: 20px;
        padding: 0;
        margin: .75em 0 0 -2.5em;
        border-bottom: 1.5px solid var(--color-white);
    }

    header #nav.active #navBarMobile {
        display: flex;
        flex-direction: column;
        z-index: 1000;
        height: auto;
        visibility: visible;
    }

    header #nav.active #hamburguer {
        background-color: transparent;
    }

    header #nav.active #hamburguer::after {
        transform: rotate(135deg);
    } 
    
    header #nav.active #hamburguer::before {
        transform: rotate(-135deg);
        top: -2px;
    }

    header .btnlogin {
        margin-top: 3em;
        font-size: 16px;
    }


    /* Main */

    main .carrossel img {
        position: relative;
        height: 25em;
        z-index: -1;
    }

    main #suv, #esportivos {
        padding: 0em;
        margin-left: 0em;
    }

    main #sedan, #hatch {
        width: 118%;
    }

    main .carros {
        margin: 0 -2.5em 0;
    }

    main .carros img {
        width: 25em;
    }

    main form.filtrar p {
       font-size: 15px;
    }

    main form.filtrar input[type=button] {
        font-size: 18px;
    }

    
    /* CSS DO LOGIN E CADASTRO */
    
    main .login, .cadastro {
        width: 100%;
    }

    main .formLog, .formCad {
        width: 70%;
        
    }
    
    main .imagemFundoLog ,.imagemFundoCad {
        display: none;
    }
}