@charset "UTF-8";

/* header */

header {
    background: linear-gradient(var(--color-primary), var(--color-secundary));
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    width: 100svw;
    box-shadow: 5px 3px 30px var(--color-shadow);
}

header #logo {
    width: fit-content;
    padding: 0 3em;
}

header #logo img {
    width: 10em;
}

header #mobileNav {
    display: none;
}

header #mobileMenu {
    display: none;
}

header #desktopNav {
    width: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em 0;
}

header #desktopNav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

header #desktopNav ul li {
    padding: 2em 0;
    transition: ease 0.2s;
}

header #desktopNav ul li:hover {
    scale: 1.1;
    transition: ease 0.2s;
}

header #desktopNav a {
    transition: ease 0.2s;
}

header #desktopNav a:hover {
    border-top: 1.5px solid var(--color-white);
    border-bottom: 1.5px solid var(--color-white);
}

header .loginButton {
    opacity: 0;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em 2em;
    border-radius: 3em;
    background-color: transparent;
    font-size: 2rem;
    border: 1.5px solid var(--color-white);
    cursor: pointer;
    animation: appear 1.5s forwards;
}

header .loginButton:hover,
header .loginButton:focus {
    background-color: var(--color-white);
    color: var(--color-primary);
    box-shadow: 1px 1px 15px #d6d6d6c9;
}

/* Main */

main #carouselSection {
    position: relative;
}

main #carouselSection img {
    object-fit: cover;
    width: 100%;
    max-height: 50em;
    border-radius: 0 0 20px 20px;
    filter: drop-shadow(5px 3px 10px var(--color-shadow));
}

main #slideButtons {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.5;
    transition: all 0.2s ease;
}

main #slideButtons:hover {
    opacity: 0.7;
}

main #slideButtons input[type='radio'] {
    width: 20px;
    border: 3px solid;
    appearance: none;
    filter: drop-shadow(5px 3px 30px var(--color-shadow));
    cursor: pointer;
}

main #slideButtons input[type='radio']:checked {
    border: 3px solid var(--color-accent);
}

main #carouselSection #prevSlide,
main #carouselSection #nextSlide {
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1em 0.5em;
    color: var(--color-white);
    background-color: var(--color-darkGray);
    cursor: pointer;
    border: none;
    opacity: 0.4;
    transition: all 0.2s ease;
}

main #carouselSection:hover #prevSlide,
main #carouselSection:hover #nextSlide {
    opacity: 0.7;
}

main #carouselSection #prevSlide:hover,
main #carouselSection #nextSlide:hover,
main #carouselSection #prevSlide:focus,
main #carouselSection #nextSlide:focus {
    background-color: var(--color-black);
    opacity: 1;
}

main #carouselSection #prevSlide {
    left: 0;
    border-radius: 0 15px 15px 0;
}

main #carouselSection #nextSlide {
    right: 0;
    border-radius: 15px 0 0 15px;
}

main #catalogSection {
    padding: 2em 0;
}

main #catalogSection .categoryTitle {
    font-family: var(--font-main);
    display: flex;
    padding-inline: 1.5em;
    font-size: clamp(20px, 2svw, 24px);
}

main #sedanContainer,
main #suvContainer,
main #hatchContainer,
main #sportsContainer,
main #allCars {
    display: grid;
    grid-auto-flow: column;
    font-size: 1.8rem;
    text-align: center;
    padding-inline: 6em;

    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;

    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 15%,
        black 85%,
        transparent 100%
    );
}

main #sedanContainer::-webkit-scrollbar,
main #suvContainer::-webkit-scrollbar,
main #hatchContainer::-webkit-scrollbar,
main #sportsContainer::-webkit-scrollbar,
main #allCars::-webkit-scrollbar {
    height: 0.4em;
    background: #f1ecec;
}

main #sedanContainer:focus .car,
main #suvContainer:focus .car,
main #hatchContainer:focus .car,
main #sportsContainer:focus .car,
main #allCars:focus .car {
    transform: scale(1);
    max-height: 100%;
    opacity: 1;
    filter: blur(0px);
    transition: all 0.5s ease;

    span {
        visibility: visible;
    }
}

main .car:not(:hover) {
    transform: scale(0.9);
    filter: blur(0.7px);
    opacity: 0.7;
    transition: all 0.4s ease;
}

main .car {
    width: 20em;
    padding-block: 1em;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-inline: 2em;
    object-fit: contain;
    transform: scale(1);
    scroll-snap-align: center;
    cursor: pointer;
}

main .car:hover {
    transform: scale(1);
    max-height: 100%;
    transition: all 0.5s ease;
}

main .car img {
    width: 100%;
    height: 10em;
    object-fit: contain;
    filter: drop-shadow(5px 3px 30px var(--color-shadow));
}

main .car span {
    visibility: hidden;
    font-weight: 400;
    font-size: 1.6rem;
}

main .car:hover span {
    visibility: visible;
}

main #filterSection {
    position: relative;
}

main #backgroundImage img {
    height: 50svh;
    width: calc(100svw - 1em);
    object-fit: cover;
    border: 1px double var(--color-black);
    border-radius: 10px;
    filter: blur(0.8px);
    box-shadow: 3px 3px 30px var(--color-shadow);
}

main .filterContainer {
    position: relative;
    background-color: var(--color-white);
    top: -100px;
    left: 50%;
    width: 75svw;
    border-radius: 20px;
    border: 2px solid var(--color-black);
    z-index: 999;
    transform: translateX(-50%);
    box-shadow: 5px 3px 30px var(--color-shadow);
    padding: 2.5em;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

main .filterContainer .searchField,
main .filterContainer .brandSelectField,
main .filterContainer .typeSelectField,
main .filterContainer .priceRange {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .filterContainer label {
    font-size: 2.2rem;
    padding-inline: 1em;
}

main .filterContainer p {
    font-size: 1.8rem;
    padding-inline: 1em;
}

main .filterContainer #modelInput,
main .filterContainer select {
    padding-inline: 1em;
    border-radius: 8px;
    font-size: 1.8rem;
    padding-block: 2px;
    height: 2em;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    box-shadow: 1px 1px 10px var(--color-shadow);
}

main .filterContainer select {
    cursor: pointer;
}

main .filterContainer #modelInput:focus,
main .filterContainer select:focus {
    border: 2px solid var(--color-primary);
}

main .filterContainer input[type='range'] {
    height: 1.5em;
    width: 100%;
    border: none;
    background-color: transparent;
    appearance: none;
    cursor: grab;
}

main .filterContainer input[type='range']:active {
    cursor: grabbing;
}

main .filterContainer input[type='range']::-webkit-slider-runnable-track {
    width: 3em;
    height: 6px;
    background: var(--color-secundary);
    border-radius: 3px;
    margin-top: 0.5em;
}

main .filterContainer input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--color-primary);
    margin-top: -0.4em;
}

main #allCars {
    margin-top: -5em;
    padding-inline: 8em;
}

main #allCars:has(.car:first-child:nth-last-child(-n + 3)) {
    justify-content: center;
}

main #allCars .emptyMessage {
    padding: 70px;
    font-size: clamp(18px, 2svw, 24px);
}

main #aboutSection {
    justify-content: center;
    align-items: center;
    padding: 2.5em 15em;
}

main #aboutSection .aboutContainer {
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding-top: 2.5em;
}

main #aboutSection .aboutContainer [class^='aboutRow'] {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    height: 350px;
}

main #aboutSection .aboutContainer .aboutRowFirst {
    flex-direction: row-reverse;
}

main #aboutSection .aboutContainer [class^='aboutImage'] {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    filter: drop-shadow(5px 3px 30px var(--color-shadow));
}

main #aboutSection .aboutContainer [class^='aboutText'] {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    font-size: 1.6rem;
    text-align: justify;
    padding-block: 1em;
}

main .locationHeader {
    background: var(--color-darkGray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: 2s ease;
}

main .locationHeader h3 {
    color: var(--color-gray);
    font-size: 2.4rem;
    transition: 0.3s ease;
}

main .locationHeader i {
    cursor: pointer;
    font-size: 3rem;
    color: var(--color-gray);
}

main .locationHeader:hover h3,
main .locationHeader:hover i,
main .locationHeader:focus h3,
main .locationHeader:focus i {
    scale: 1.1;
}

main #location {
    overflow: hidden;
    background: var(--color-darkGray);
    display: flex;
    width: 100%;
    max-height: 0;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 2em;
    transition:
        max-height 0.5s ease,
        opacity 0.2s ease;
}

main #location .addressInfo {
    color: var(--color-gray);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main #location p {
    text-indent: 16px;
}

main #location hr {
    width: 0;
    height: 25em;
    position: relative;
    top: 0;
    margin: 2em;
    border: 2px solid var(--color-gray);
    border-radius: 5px;
}

main #location iframe {
    flex: 1;
    height: 20em;
    margin-block: 2.5em;
    border-radius: 10px;
    border: 2px solid var(--color-gray);
    filter: drop-shadow(5px 3px 30px var(--color-shadow));
}

main #location.active {
    max-height: 500px;
}

/* Footer */

footer {
    border-top: 1.5px solid var(--color-gray);
    background: linear-gradient(var(--color-primary), var(--color-secundary));
    box-shadow: 5px 3px 15px 0 var(--color-shadow);
}

footer #arrowBuy,
footer #arrowStore,
footer #arrowSupport {
    display: none;
}

footer .footerLinks {
    font-size: 1.6rem;
    display: flex;
    padding-top: 1em;
    justify-content: space-around;
}

footer .footerLinks h3 {
    font-size: 2rem;
}

footer .footerLinks ul {
    list-style: none;
}

footer .footerLinks a {
    transition: 1s ease;
}

footer .footerLinks a:hover,
footer .footerLinks a:focus {
    text-decoration: underline;
}

footer .socialLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    padding: 0 7em 0.5em;
}

footer .socialLinks li {
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: all 0.3s ease;
}

footer .socialLinks li a {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

footer .socialLinks img {
    width: 3.5em;
    stroke-width: 1.75;
    transition: all 0.8s ease;
}

footer .socialLinks li:hover img {
    transform: rotateY(360deg);
    stroke-width: 1.5px;
}

footer hr {
    margin: auto;
    width: 95%;
    border: 1px solid var(--color-white);
}

footer p.copyright {
    color: var(--color-white);
    font-size: 1.4rem;
    text-align: center;
}

footer .copyright a {
    text-decoration: underline;
}

/* CSS DO LOGIN E CADASTRO */

main #loginSection,
main #registerSection {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding-block: 1em;
}

main .loginContainer,
main .registerContainer {
    flex: 1;
    padding-block: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .loginForm .formTitle,
main .registerForm .formTitle {
    font-size: 2.8rem;
    padding-bottom: 1em;
}

main .formContainer {
    display: grid;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 4em;
    margin: 5em 0 0;
}

main #loginErrorMessage,
main #loginSuccessMessage,
main #registerErrorMessage,
main #registerSuccessMessage {
    display: none;
}

main .errorMessage,
main .successMessage {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    z-index: 999;
    position: absolute;
    top: -4.5em;
    left: 50%;
    transform: translate(-50%, 0);
}

main .errorMessage {
    color: #bc0000;
}

main .successMessage {
    color: #065806;
}

main .inputGroup .inputField {
    position: relative;
    width: 40em;
    z-index: 1;
}

main .inputGroup label,
main .inputGroup label {
    display: none;
}

main .inputGroup .inputField .iconInput {
    position: absolute;
    color: var(--color-black);
    font-size: 3.2rem;
    left: 3px;
    -webkit-user-select: none;
    user-select: none;
}

main .inputGroup .inputField input {
    text-indent: 40px;
    width: 100%;
    font-size: 2rem;
    height: 2em;
    border: none;
    border-bottom: 2px solid #b16c6c;
    background: transparent;
    outline: none;
}

main .inputGroup .inputField input:focus {
    background-color: transparent;
    border-bottom: 2px solid var(--color-primary);
}

main .inputGroup .inputField input:valid {
    background-color: transparent;
    border-bottom: 2px solid var(--color-black);
}

main .inputGroup .inputField .visibility {
    right: 3px;
    cursor: pointer;
    position: absolute;
    color: var(--color-black);
    font-size: 3.2rem;
    -webkit-user-select: none;
    user-select: none;
}

main #loginSection span,
main #registerSection span {
    color: #bc0000;
    display: none;
    font-size: 1.6rem;
}

main .buttonGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

main #loginSection #submitLoginButton,
main #registerSection #submitRegisterButton {
    width: 100%;
    padding: 0.25em;
    color: var(--color-white);
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #740b0b;
    font-size: 2.2rem;
    border: 2px solid var(--color-secundary);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
    margin-top: 1em;
}

main #loginSection #submitLoginButton:hover,
main #registerSection #submitRegisterButton:hover,
main #loginSection #submitLoginButton:focus,
main #registerSection #submitRegisterButton:focus {
    background-color: var(--color-primary);
    box-shadow: 1px 1px 30px var(--color-gray);
}

main #loginSection #redirectRegisterButton,
main #registerSection #redirectLoginButton {
    width: 100%;
    color: var(--color-primary);
    border-radius: 10px;
    padding: 0.25em;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
    border: 2px solid var(--color-primary);
    transition: all 0.25s;
    cursor: pointer;
}

main #loginSection #redirectRegisterButton:hover,
main #registerSection #redirectLoginButton:hover,
main #loginSection #redirectRegisterButton:focus,
main #registerSection #redirectLoginButton:focus {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 1px 1px 30px var(--color-gray);
}

main .backgroundLoginImage,
main .backgroundRegisterImage {
    flex: 1;
    align-items: stretch;
}

main .backgroundLoginImage img,
main .backgroundRegisterImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(7px 5px 30px var(--color-shadow));
    border-radius: 20px 0 0 20px;
}

@keyframes appear {
    to {
        right: 50px;
        opacity: 1;
    }
}
